"" Source your .vimrc
"source ~/.vimrc

"" -- Suggested options --
" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near the start or end of the window.
let mapleader=' '

set scrolloff=5
set hlsearch
set incsearch
set ignorecase
set smartcase
set showmode
set number
set relativenumber
set keep-english-in-normal
set clipboard+=unnamed

"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t
"" Map \r to the Reformat Code action
"map \r <Action>(ReformatCode)

"" Map <leader>d to start debug
"map <leader>d <Action>(Debug)

"" Map \b to toggle the breakpoint on the current line
"map \b <Action>(ToggleLineBreakpoint)


" Find more examples here: https://jb.gg/share-ideavimrc

" IdeaVim Plugins: https://github.com/JetBrains/ideavim/blob/master/doc/IdeaVim%20Plugins.md
Plug 'easymotion/vim-easymotion'
Plug 'preservim/nerdtree'
Plug 'tpope/vim-surround'
Plug 'justinmk/vim-sneak'
Plug 'michaeljsmith/vim-indent-object'
" Plug 'mg979/vim-visual-multi', {'branch': 'master'}
Plug 'tpope/vim-commentary'
Plug 'machakann/vim-highlightedyank'

set quickscope

" clear the highlighted search result
nnoremap <Leader>nh :nohlsearch<CR>

" Quit\Save normal mode
nnoremap <Leader>q  :q<CR>
nnoremap <Leader>Q  :qa!<CR>
nnoremap <Leader>x  :x<CR>

" Switch Tab
nnoremap tn gt
nnoremap tp gT

" CamelCaseMotion Simulation

" MotionCamelRightAction
map <Leader>w [w
" MotionCamelEndRightAction
map <Leader>e ]w
" MotionCamelLeftAction
map <Leader>b [b

" ====================================================
" Note: Show all the provided actions via `:actionlist`
" ====================================================

" search in project
nnoremap <Leader>fe :action SearchEverywhere<CR>
" find usage
nnoremap <Leader>fu :action FindUsages<CR>
" find string
nnoremap <Leader>/ :action Find<CR>

nnoremap <Leader>ga :action GotoAction<CR>
nnoremap <Leader>gc :action GotoClass<CR>
nnoremap <Leader>gd :action GotoDeclaration<CR>
nnoremap <Leader>gf :action GotoFile<CR>
nnoremap <Leader>gh :action ShowUsages<CR>
nnoremap <Leader>gi :action GotoImplementation<CR>
nnoremap <Leader>gs :action GotoSymbol<CR>
nnoremap <Leader>gt :action GotoTest<CR>

nnoremap <C-o> :action Back<CR>
nnoremap <C-i> :action Forward<CR>

" change every related element name
nnoremap <Leader>re :action RenameElement<CR>
" change current file name
nnoremap <Leader>rf :action RenameFile<CR>

nnoremap <Leader>ta :action Annotate<CR>
nnoremap <Leader>tb :action ToggleLineBreakpoint<CR>
nnoremap <Leader>tm :action ToggleBookmark<CR>
nnoremap <Leader>tp :action ActivateProjectToolWindow<CR>

" =========== NERDTree Remap ===========
nnoremap <Leader>nf :NERDTreeFocus<CR>
nnoremap <Leader>nt :NERDTreeToggle<CR>
nnoremap <Leader>ns :NERDTreeFind<CR>
nnoremap <Leader>nc :NERDTreeClose<CR>
